 
<!DOCTYPE html>

<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"> 
<meta charset="utf-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


<title>Quiz</title>


<link href="//interactive.zaobao.com/lib/css/font-awesome/v4.5.0/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"  href="//interactive.zaobao.com/lib/bootstrap/bootstrap-4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/quiz_style.css">


  
</head>

<body>
<div class="container-fluid" id="quiz" ng-app="App.controllers" ng-controller="MainCtrl" ng-cloak>

<div class="row justify-content-center my-xl-5">
	<!-- <div class="start-page" ng-if="!quiz_started" ng-click="start()">
			                <button class="btn start-btn" ng-click="start()">开始答题</button>
			            </div> -->

	<div class="col quiz" ng-if="quiz_started && !quiz_ended">
		<ul class="indicator">
			<li ng-class="{active: qns_num == 1 || qns_num == 2 || qns_num == 3 || qns_num == 4 || qns_num == 5}">
			</li>
			<li ng-class="{active: qns_num == 2 || qns_num == 3 || qns_num == 4 || qns_num == 5  }"></li>
			<li ng-class="{active: qns_num == 3 || qns_num == 4 || qns_num == 5  }"></li>
			<li ng-class="{active: qns_num == 4 || qns_num == 5  }"></li>
			<li ng-class="{active: qns_num == 5 }"></li>

		</ul>
		<!-- <div class="img"><img ng-src="{{qns_img}}"></div> -->

		<div class="qnsWrap">
			<div class="qns">
				<div class="qnsNo">{{id + 1}}.</div> {{qns}}
			</div>
			<div class="choices">
				<button class="quiz-button"
					ng-class="{'correct': (right_ans == c.id) && showAns, 'wrong': (wrong_ans == c.id) && showAns, 'disableHover': showAns}"
					ng-repeat="c in choices"
					ng-click="calculateScore(c.ans);getDescription($index);click_choice(c.id, c.ans)"
					ng-disabled="showAns"><em class="choice">{{c.id}}</em><span class="jumbo">{{c.choice}}<img
							ng-src="c.img" ng-if="c.img !=''"></span>
					<i class="fa"
						ng-class="{'fa-times': (wrong_ans == c.id) && showAns, 'fa-check': (right_ans == c.id) && showAns && show_tick}"></i>
				</button>

				<!-- <button class="btn prev-qns quiz-btn" ng-if="qns_num <= 5 && qns_num != 1 && !showAns" ng-click="prevQns();getQuestion()">上一题</button> -->
			</div>

			<div class="wrapper" ng-if="showAns">
				<div class="chosen-ans">
					<p class="desc" ng-bind-html="chosen_choice.description"></p>
				</div>
				<hr>
				<div class="correct-ans" ng-if="!result">
					<p id="explanation">正解:</p>
					<p class="para" ng-bind-html="correct_ans.description"></p>
				</div>

				<button class="btn quiz-btn" ng-if="qns_num != 5" ng-click="nextQns();getQuestion()">下一题</button>
				<button class="btn quiz-btn" ng-if="qns_num  == 5" ng-click="showResult()">看看你的表现</button>
			</div>

		</div>

	</div>
	<div class="col-12 end-page text-center" ng-if="quiz_ended">

		<!-- <p class="result"><span class="title">得分</span><br /> -->
		<img ng-src="{{coin_img}}">
		<div class="score"><span>{{score}}</span>/5</div>
		</p>
		<p class="result_desc" ng-bind-html="result_desc">{{result_desc}}</p>


		<div class="graph">

			<div class="buttons">
				<a class="btn share" ng-href="//www.facebook.com/sharer/sharer.php?u={{shareFB_url}}"
			                            target="_blank">分享</a>
				<button class="btn restart" ng-click="restart()">再度挑战</button>
			</div>
			<!-- <p class="performance">与其他参加测试的朋友相比，你的表现如何呢？</p> -->
			<!-- <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="barcolors"
			                        chart-options="options"></canvas> -->
		</div>





	</div>
</div>

	<div class="row ">

		

	</div>

</div>

























<script src="//interactive.zaobao.com/lib/js/jquery/v3.3.1/jquery.min.js"></script>
<script src="//interactive.zaobao.com/lib/js/angular/v1.4.9/angular.min.js"></script>
<script src='//interactive.zaobao.com/lib/js/angular/angular-sanitize/v1.5.8/angular-sanitize.min.js'></script>

<script src="//interactive.zaobao.com/lib/bootstrap/bootstrap-4.1.0/js/bootstrap.min.js"></script>

<script src="assets/js/quiz.js"></script>












</body>
</html>