
.article-content-rawhtml .images .img-wrap img, .article-content-rawhtml .images2 .img-wrap img {

	border-radius: 20px !important;
}

.article-content-rawhtml .images p.caption {
	line-height: 1.3;
	color:#636363;
	font-size: 14px;
	margin-bottom: 30px;
	display: block;
	margin-top: 10px;
    /*text-overflow: ellipsis;*/
    height: 125px;
    /*white-space: pre;*/
    overflow: hidden;
}


.caption {

	line-height: 1.3;
	color:#636363;
	font-size: 14px;
	margin-bottom: 30px;
	display: block;
	margin-top: 10px;
    /*text-overflow: ellipsis;*/
    /* height: 125px; */
    /*white-space: pre;*/
    overflow: hidden;

}

p.username.ng-binding {
    display: inline-block;
    font-size: 13px;
    color: #8b8b8b;
    margin-left: 5px;
}


.profile-pic img {
    /* display: inline-block; */
    border-radius: 50%;
    width: 45px;
    border: 1px #c4c3c3 solid;
    margin: 8px 0;
}

.btn.view-more{
    background-color: #a50034;
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    width: 150px;
    font-size: 1em;
}
