/* body{overflow-x:hidden; color:#fff!important;letter-spacing:0.1em;background: #000000;} */

#quiz hr{margin:0 auto !important;}

#quiz {font-size:14pt;font-family: Merriweather, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Heiti SC", 冬青黑, "Microsoft YaHei", 微软正黑体, "Microsoft JhengHei", 微软雅黑, 宋体, STHeiti, "LiHei Pro", 华文黑体;}
#quiz button {position: relative;z-index:2}

#quiz .indicator{padding: 0;text-align: center;}
#quiz .indicator > li{display: inline-block; width: 9.45%; height: 10px; background: #d6d6d6; margin:auto 0.1em;}
#quiz .indicator > li.active{background: #ad1f84;}

/* #quiz .jumbo{color:#fff !important;} */
#quiz p{text-indent: 0 !important;}
#quiz .start-page{
    background: url('../imgs/quiz-intro.svg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    width: 100vw; 
    /* height: 45vw; */
    /* border: 8px solid #5c91ff;  */
    max-width: 100%;
}


#quiz button.quiz-button {
    background-color: #def9ff !important;
    border: 1px solid #075277;
    border-radius: 50px;
    padding: 8px 30px;
    width: 150px;
    
}

#quiz button.quiz-button:hover {
    background-color: #92ddee !important;
    border: 1px solid #075277;
    border-radius: 50px;
    padding: 8px 30px;
    width: 150px;
    }

#quiz .qnsWrap{max-width: 95%;margin:auto;display: block;margin-top: 1em;}
#quiz .qns{line-height: 1.4 !important;font-size: 1.6em;font-weight: bold;margin-bottom: 1em;}
#quiz .qnsNo{ display: inline-block;font-size: 1.2em;}

#quiz .quiz img {
    margin:auto; 
    /* display: block; */
    width: 100%; 
    max-width: 1200px;
}
#quiz .quiz-button {margin: 1.0em 0;cursor: pointer;display: block;}
#quiz .choice{font-style: normal;color:#075277;font-weight:bold;background-color: #def9ff; border-radius: 50%; margin:0.5em;padding: 0.45em 0.85em; text-align: center;}



#quiz .wrapper{margin-top: 3em;}
#quiz .wrapper p{padding:0 1em;}
#quiz .wrapper span{text-align: center;}


#quiz i{font-size: 1.4em;}
#quiz .wrong{color:#c70a2f;}
#quiz .wrong .choice{background-color:#c70a2f;}
#quiz .correct{color:#5dc3ff;}
#quiz .correct .choice{background-color:#5dc3ff;}

#quiz #explanation{color:#5dc3ff;font-size: 1.2em;font-weight: bold;padding-left: 0.5em !important;}
#quiz .related-links p{margin-bottom: 0;}

#quiz .restart{background-color: #25aeff;border-radius: 30px;font-weight:bold;padding:0.6em;color:#fff !important;border:2px solid #25aeff;width: 180px; font-size: 0.85em;}
#quiz .share, #quiz .prev-qns{background-color: #04429b;border-radius: 30px;font-weight:bold;padding:0.6em;color:#fff !important;border:2px solid #04429b;width: 180px;font-size: 0.85em; margin: 0 10px;}
#quiz .restart:hover{background-color: transparent;border:2px solid #25aeff;color:#25aeff !important;}
#quiz .share:hover, #quiz .prev-qns:hover{background-color: transparent;border:2px solid #04429b;color:#04429b !important;}

#quiz .buttons {
    text-align: center; 
    margin: 2.5em; 
}

#quiz .challenge, #quiz .result, #quiz .performance, #quiz .explaination{text-align: center;}
#quiz .result_desc .title{font-size: 2em;color:#04429b;font-weight: bold;text-align: center;}
/* #quiz > div:last-child {overflow: initial !important;width:100% !important;top: -600px !important;display: none;} */
#quiz .chart{width:100% !important;}

#quiz .challenge, #quiz .explaination, #quiz .references{padding: 0 2em;}
#quiz .prev-qns{margin: auto; display: block;}

#quiz .explaination {color: #04429b;font-weight: bold;}
#quiz .score {font-size: 3em;}

@media only screen and (max-width:767px){
/* #quiz > div:last-child {display: none !important;} */
#quiz .indicator > li{width: 8%;}
#quiz .qns {
    line-height: 1.4 !important;
    font-size: 0.85em !important;
}
#quiz .result_desc .title{font-size: 1em;}
#quiz .share, #quiz .restart{max-width: 120px !important; display: inline-block !important;}
#quiz .jumbo{font-size: 15px !important;}

#quiz button.quiz-button {
    background-color: #def9ff !important;
    border: 1px solid #075277;
    border-radius: 50px;
    padding: 0px 10px !important;
    width: 100px !important;
    margin-bottom: 15px !important;
}

#quiz button.quiz-button:hover {
    background-color: #92ddee !important;
    border: 1px solid #075277;
    border-radius: 50px;
    padding: 0px 10px !important;
    width: 100px !important;
    }


 
}

@media only screen and (max-device-width: 800px){
    /* #quiz > div:last-child {display: none !important;} */
}
@media only screen and (min-width:768px) and (max-width:1790px){
#quiz .indicator > li{width: 9%;}
	}

@media only screen and (max-width:767px) and (orientation:portrait){

#quiz .choice{float: left;}
#quiz .jumbo{display: block; }
#quiz button.quiz-button{margin: 0; padding: 0; width: 100%;}
#quiz i{float: right; margin-top: -1em;}
/* #quiz .end-page img{max-width: 200px !important;} */
}

@media only screen and (max-width:767px) and (orientation:landscape){
#quiz .start-btn{ right: 5%; bottom: -45%;}
}


@media only screen and (min-width:1200px) and (max-width:1400px){
#quiz .start-btn{/* right: 5%; *//* bottom: -45% !important; */}
}