/* quiz */

.table { 
  line-height: 2.23em !important;
  font-size: 1em;
}

.quiz-intro {
    width: 30%;
    margin: auto;
    padding-top: 5%;
}

.quiz-intro-time {
    width: 400px;
    margin: auto;
    display: block;
    padding-top: 20px;
}
.quiz-intro-time img {
    display: block;
    width: 15vw;
    margin: auto;
}

#quiz .start-btn {
    left: 25%;
    top: -38px;
    bottom: 1vw;
    background-color: #1dbfff;
    border-radius: 30px !important;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid #fff; 
    padding: 0.3em 2em;
    color: #fff;
}

#quiz .img {
    position: relative;
}
#quiz .qnsWrap {
    position: absolute;
    top: 5vw;
    left: 10vw;
    display: block;
    margin: auto;
    padding: 0 60px;
}
 .result_pic {
   position: relative;
 }
 .result_pic img {
  width: 100%;
  max-width: 1200px;
}

 .mood-meter {
  position: absolute;
  top: calc(15vw - 20px);
  width: 100%;
  max-width: 1200px;
  left: 0;
 }

 #quiz .score {
   position: absolute;
   top: 10px;
 }

  
.mood {
  display: inline-block;
    width: 5.5%;
    height: 50px;
    left: 200px;
    background: url(../imgs/arrow.svg);
    background-size: 100% 100%;
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
}
.bg-wrapper {
  display: block;
  font-size: 14px;
font-weight: bold;
}
.bg { 
  display: inline-block; 
   width: 5.5%; 
   height: 20px; 
   background-color: #235990; 
}

.bg.active { 
  background-color: #00b8ff; 
}
  .ambivert-txt {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: -10px;
    width: 103%;
    margin-left: -1.6rem;
  }
  

  .personality {
    position: absolute;
    top: 10%;
    width: 100%;
    max-width: 1200px;
  }
h2.status-hd {
  color: #fd5414 !important;
  font-size: 2.5em !important;
  font-weight: bold !important;
  margin-bottom: 0!important;
  display: inline-block;
  height: 60px;  
}

.mm-text { 
  display: inline-block;
}

p.result_desc {
  display: inline-block;
  line-height: 1.4em;
  text-align: left;
  font-size: 1.0em !important;
  width: 500px;
}
/*Progress circle */
.progress-circle {
  border-radius: 50%;
  display: inline-block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: auto;
}
.progress-circle .outer {
  background: #dedede;
  width: 3em;
  height: 3em;
  overflow: hidden;
  z-index: 100;
}
.progress-circle .outer .mask {
  background: #dedede;
  border-radius: 1.5em 0 0 1.5em;
  position: absolute;
  width: 1.5em;
  height: 3em;
  top: 0;
  left: 0;
  z-index: 120;
}
.progress-circle .outer .half {
  background: #999;
  position: absolute;
  width: 1.5em;
  height: 3em;
  top: 0;
}
.progress-circle .outer .half.spinner {
  border-radius: 0 1.5em 1.5em 0;
  right: 0;
  z-index: 10;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  z-index: 110;
}
.progress-circle .outer .half.filler {
  border-radius: 1.5em 0 0 1.5em;
  left: 0;
  z-index: 5;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: 130;
}
.progress-circle .inner {
  background: #fff;
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  width: 2.5em;
  height: 2.5em;
  z-index: 300;
}
.progress-circle .percentage {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 0.5em;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  letter-spacing: -0.05em;
  overflow: hidden;
  line-height: 1em;
  z-index: 400;
}
.progress-circle .inner,
.progress-circle .outer {
  display: inline-block;
  border-radius: 50%;
}
.mood {
  opacity:0
}
.mood.active {
  opacity:1;
  
}
@media (max-width:1024px) {
 
  #quiz .qns {
    line-height: 1.4 !important;
    font-size: 1.25em;
    font-weight: bold;
    /* margin-bottom: 1em; */
  }

  #quiz .qnsWrap {
    position: absolute;
    top: 5vw;
    left: 15vw;
    display: block;
    margin: auto;
    padding: 0 10px;
  }
  .personality {
    width: 95%;
    top: 5%;
  }
  h2.status-hd {
    color: #fd5414 !important;
    font-size: 1.5em!important;
    font-weight: bold !important;
    /* margin-bottom: 80px!important; */
    display: block;
    padding-left: 10px;
    height: 43px;
  }
  .mood {
    display: inline-block;
    width: 5.5%;
    height: 60px;
    left: 200px;
    background: url(../imgs/mobile-arrow.svg);
    background-size: 100% 100%;
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
  }
 
}

@media (max-width:768px) { 

  #quiz .buttons {
    margin: 1.6em 0;
  }
  #quiz .start-page {
    height: auto;
  }
    #quiz .start-btn {
        font-size: 14px;
        left: 37%;
        top: -30px;
        border: 1px solid #fff;
        font-size: 1.2em;
    }
    .quiz-intro-time {
        padding-top: 0px;
        width: auto;
    }
    .quiz-intro-time img {
        width: 18vw;
    }
    .quiz-intro {
        padding-top: 20px;
    }
    #quiz .qnsWrap {
        top: 5vw;
        left: 0vw;
        display: block;
        margin: auto;
        padding: 0 10px 0 120px;
    }

    .mood-meter {
      position: absolute;
      top: calc(16vw - 20px);
      width: 100%;
     
     }

     .mood {
      display: inline-block;
      width: 5.5%;
      height: 60px;
      left: 200px;
      background: url(../imgs/mobile-arrow.svg);
      background-size: 100% 100%;
      font-size: 15px;
      font-weight: bold;
      padding-top: 8px;
    }
    .bg-wrapper {
      position: relative;
      top: -16px;
    }
    
     h2.status-hd {
      color: #fd5414 !important;
      font-size: 1.5em!important;
      font-weight: bold !important;
      /* margin-bottom: 80px!important; */
      display: block;
      padding-left: 10px;
      height: 43px;
    }

    .personality {
      position: absolute;
      top: 5%;
      width: 95%;
      /* max-width: 420px; */
      text-align: left;
      padding-left: 10px;
    }

  p.result_desc {
    width: 90%;
    font-size: 1.0em !important;
    line-height: 1.2;
    text-align: left;
    padding-left: 10px;
  }


  .progress-circle {
    border-radius: 50%;
    display: inline-block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: auto;
  }
  .progress-circle .outer {
    background: #dedede;
    width: 2em;
    height: 2em;
    overflow: hidden;
    z-index: 100;
  }
  .progress-circle .outer .mask {
    background: #dedede;
    border-radius: 1em 0 0 1em;
    position: absolute;
    width: 1em;
    height: 2em;
    top: 0;
    left: 0;
    z-index: 120;
  }
  .progress-circle .outer .half {
    background: #999;
    position: absolute;
    width: 1em;
    height: 2em;
    top: 0;
  }
  .progress-circle .outer .half.spinner {
    border-radius: 0 1em 1em 0;
    right: 0;
    z-index: 10;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    z-index: 110;
  }
  .progress-circle .outer .half.filler {
    border-radius: 1em 0 0 1em;
    left: 0;
    z-index: 5;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: 130;
  }
  .progress-circle .inner {
    background: #fff;
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 1.5em;
    height: 1.5em;
    z-index: 300;
  }
  .progress-circle .percentage {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 0.5em;
    font-weight: bold;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: -0.05em;
    overflow: hidden;
    line-height: 1em;
    z-index: 400;
  }
  .progress-circle .inner,
  .progress-circle .outer {
    display: inline-block;
    border-radius: 50%;
  }
  .ambivert-txt {
    width: 100%;
    margin-left: 0;
    margin-top: -23px;
  }
}

@media (max-width: 460px) {
  #quiz .start-btn {
    left: 36%;
    top: -20px;
    border: 1px solid #fff;
    font-size: 0.67em;
  }

  #quiz .qnsWrap {
    width: 100%;
    padding: 0 40px;
    top: 15vw;
  }

  #quiz .qnsNo {
    font-size: 1.0em;
  }

  .personality {
    top: 8%;
    width: 90% !important;
    text-align: left;
    padding-left: 15px;
  }

  h2.status-hd {
    font-size: 1.25em !important;
    color: #fd5414 !important;
    padding: 0;
    height: auto;
  }
  p.result_desc {
    font-size: 0.67em !important;
    line-height: 1.2;
    text-align: left;
    padding-left: 0px;

  }
  .mood-meter {
    left: 0px;
    width: 100%;
    top: calc(30vw - 20px);
  }
  .mood {
    width: 4.5%;
    height: 50px;
    left: -5px;
    position: relative;
    background-image: none;
  }
  .bg {
    width: 4.5%;
  }

  #quiz .buttons {
    margin: 1.2em;
  }
  #quiz .restart, #quiz .share {
    font-size: 0.65em;
  }
  .ambivert-txt {
    font-size: 13px;
    width: 100%;
    margin-left: 0;
  }
    }